:root {
    --bg-color: silver;
    --f-color: black;
    --border-rad: 50px;
}

header {
    background-color: teal;
    color: darkorange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    border: 5px;
    border-style: double;
    border-color: darkorange;
}

header h1 {
    display: flex;
    font-weight: bold;
    font-style: italic;
    justify-content: center;
}

#profile-photo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 350px;
    border-style: groove;
    border-width: 3px;
    border-color: darkorange;
    border-radius: 50%;
}

.nav-list {
    list-style: none;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    padding: 4px;
    color: darkorange;
}

.content {
    display: inline-block;
    width: 100%;
    color: var(--f-color);
    background-color: var(--bg-color);
    font-family: cursive;
}

.About {
    margin-left: 10px;
}

.Work {
    margin-left: 10px;
}

.Contact {
    margin-left: 10px;
}

.Resume {
    margin-left: 10px;
}

footer {
    background-color: teal;
    color: darkorange;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 1px;
    clear: both;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1000px) {}